.cont
{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5px;
}

.itemsContainer
{
    margin: 5px;
    border: 2px black solid;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* tytuł */
.item1
{
    /* border: 2px solid green; */
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 25px;
}

/* cena */
.item2
{
    /* border: 2px solid green; */
    grid-column: 1/2;
    grid-row: 2/3;
}

/* guziki */
.item3
{
    /* border: 2px solid green; */
    grid-column: 1/2;
    grid-row: 3/4;
    display:flex;
    justify-content: center;
}

/* foto */
.item4
{
    /* border: 2px solid green; */
    grid-column: 2/3;
    grid-row: 1/4;
}
img
{
    max-width: 250px;
    max-height: 220px;
    margin: 5px;
}

.imgAdmin
{
    border: black 3px solid;
}
.imgAdminClicked
{
    border: orange 3px solid;
}
.imgAdmin:hover
{
    border: orange 3px solid;
}

button
{
    height: 50px;
    width: 100px;
    margin: 5px;
}

.item
{
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}

.ModalContainer
{
    background-color: greenyellow;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}


  